body,
html {
    margin: 0;
    font-family: Arial;
}

.container {
    width: 100%;
}

.portfolio {
    margin: auto;
}

.portfolio .left-bar {
    width: 20%;
    max-width: 500px;
    display: inline-block;
}

.portfolio .main-content {

}
.portfolio .header {
    padding: 1em;
    box-sizing: border-box;
}

.portfolio .header .item {
    height: 5em;
    display: inline-block;
}

.header .item.logo {
    width: 5em;
    background-size: cover;
}

.portfolio .header .item.title {
    float: right;
    color: #494a39;
}

.portfolio .header .item.title .name {
    font-size: 2em;
    font-family: Arial-black;
}

.portfolio .header .item.title .position {
    font-size: 1.2em;
}

.portfolio .banner {
    width: 100%;
    overflow: hidden;
    height: 400px;
    margin-top: 20px;
}

.portfolio .featured-work {
    display: block;
    margin: auto;
}

.portfolio .featured-work > .title {
    color: #bcbbbb;
}

.portfolio .featured-work .item {
    display: inline-block;
    width: 31%;
    margin-right: 1%;
    margin-left: 1%;
    max-width: 400px;
}

.portfolio .featured-work .item .image {
    position: relative;
    width: 300px;
    height: 150px;
    overflow: hidden;
    margin-left: 0;
    padding: 0;
}

.portfolio .featured-work .item .title {
    margin: 0;
    color: #494a39;
}

@media screen and (max-width: 1000px) and (min-width: 751px) {
    .portfolio .featured-work .item {
        display: inline-block;
        width: 45%;
        margin: 2%;
        margin-bottom: 50px;
    }
    .portfolio .banner {
        height: 300px;
    }

}

@media screen and (max-width: 750px) {
    .portfolio .featured-work .item {
        display: block;
        width: 80%;
        margin: auto;
        margin-bottom: 50px;
    }
    .portfolio .banner {
        height: 200px;
    }
}